


.product-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    overflow: hidden;
}

    .product-card img {
        width: 100%;
        height: auto;
    }

.product-info {
    padding: 10px;
}

.quantity-controls {
    display: flex;
    align-items: center;
}

.remove-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

    .remove-button:hover {
        background-color: #c82333;
    }




.alert-temporary {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    z-index: 9999;
    display: none; /* Hide the alert by default */
}
.notification {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    z-index: 9999;
    display: none;
}

.show-notification {
    display: block;
    animation: slideIn 0.5s ease-in-out forwards;
}

@keyframes slideIn {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}
