@{
    ViewData["Title"] = "Cart";
}
@section Styles {

    <link href="~/css/CartPage.css" rel="stylesheet" />
}

<section class="h-100" style="background-color: #eee;">
    <div class="container h-100 py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-10">

                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
                </div>
                <div id="CartItems">

                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/js/CartPage.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
  @*   <script src="~/js/filter.js"></script> *@
 @*    <script src="~/js/templetejs/bootstrap.min.js"></script>
    <script src="~/js/templetejs/jquery.countdown.min.js"></script>
    <script src="~/js/templetejs/jquery-3.3.1.min.js"></script>
    <script src="~/js/templetejs/jquery.magnific-popup.min.js"></script>
    <script src="~/js/templetejs/jquery.nice-select.min.js"></script>
    <script src="~/js/templetejs/jquery.nicescroll.min.js"></script>
    <script src="~/js/templetejs/jquery.slicknav.js"></script>
    <script src="~/js/templetejs/main.js"></script>
    <script src="~/js/templetejs/mixitup.min.js"></script>
    <script src="~/js/templetejs/owl.carousel.min.js"></script> *@
 @*    <script>
        $(document).ready(function () {
            updateCartQuantityDisplay();
        });
    </script> *@
}

